.Games {
  position: relative;
  top: 650px;

  .Container {
    position: relative;
  }

  &-title {
    color: $black-color;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  &-cards {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &-card {
    figure { 
      img {
        border-radius: 8px;
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  &-text1 {
    color: $white-color;
    font-size: 20px; 
    font-weight: 500;  
    left: 11%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 65%;
  }

  &-text2 {
    color: $white-color;
    font-size: 20px; 
    font-weight: 500;
    left: 25%;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%);
  }
  &-text3 {
    color: $white-color;
    font-size: 20px; 
    font-weight: 500;
    left: 42%;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%);
  }

  &-text4 {
    color: $white-color;
    font-size: 20px; 
    font-weight: 500;
    left: 58%;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%);
  }

  &-text5 {
    color: $white-color;
    font-size: 20px; 
    font-weight: 500;
    left: 74%;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%);
  }

  &-text6 {
    color: $white-color;
    font-size: 20px; 
    font-weight: 500;
    position: absolute;
    left: 90%;
    top: 65%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 1100px) {
    &-cards {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &-card {
      height: 300px;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    &-text1 {
      color: $white-color;
      font-size: 20px; 
      font-weight: 500; 
      left: 50%;
      position: absolute;
      top: 42%;
      transform: translate(-50%, -50%);
    }
  
    &-text2 {
      color: $white-color;
      font-size: 20px; 
      font-weight: 500;
      left: 46%;
      position: absolute;
      top: 42%;
      transform: translate(-50%, -50%);
    }

    &-text3 {
      color: $white-color;
      font-size: 20px; 
      font-weight: 500;
      left: 50%;
      position: absolute;
      top: 42%;
      transform: translate(-50%, -50%);
    }
  
    &-text4 {
      color: $white-color;
      font-size: 20px; 
      font-weight: 500;
      left: 50%;
      position: absolute;
      top: 42%;
      transform: translate(-50%, -50%);
    }
  
    &-text5 {
      color: $white-color;
      font-size: 20px; 
      font-weight: 500;
      left: 46%;
      position: absolute;
      top: 42%;
      transform: translate(-50%, -50%);
    }
    &-text6 {
      color: $white-color;
      font-size: 20px; 
      font-weight: 500;
      left: 46%;
      position: absolute;
      top: 42%;
      transform: translate(-50%, -50%);
    }
  }

}