.Header {
   
  @media (max-width: 800px) {
    .menu {
      display: none;
    }

    .toggle {
      cursor: pointer;
      font-size: 1.5rem;
    }
    
    nav .icon-cross {
      position: relative;
      right: 0;
      display: black;
      animation: animacao 0.5s linear;
    }

    @keyframes animacao {
      from {
        transform: translatey(-40px);
      }
      to {
        transform: translatey(0);
      }
    }
    
    nav.show div.icon-cross {
      opacity: 1;
      top: 0;
      display: block;
    }
    
    .icon-menu {
      display: block;
    }

    nav.show {
      // transform: translateX(0%);
      .icon-menu {
        display: none;
      }
    }
    
    nav.show .menu {
      // transition: 0.6s;
      // transform: translatex(20%);
      background: $black-color;
      border-radius: 8px 0 0 8px;
      display: block;
      height: 200px;
      padding: 60px 0;
      position: absolute;
      right: 22px;
      top: 60px;
      width: 40%;
      
  
    }
    
    nav.show .menu ul {
      display: flex;
      flex-direction: column;
    }
    
    nav.show ul.grid {
      gap: 4rem;
    }

    &-btns {
      display: flex;
      gap: 10px;


      .btn1 {
        background: $blue-color;
        color: $white-color;
        border: none;
        border-radius: 8px;
        height: 35px;
        padding: 8px 16px;
        width: 80px;
      }

      .btn2 {
        background: transparent;
        border: 1px solid $white-color;
        border-radius: 8px;
        color: $white-color;
        height: 35px;
        padding: 8px 16px;
        width: 80px;
      }

    }

    .Mobile {
      &-menuMobile {
        display: block;
      }
    }
  }
}