.Header {
   
  @media (max-width: 800px) {
    .menu {
      display: none;
    }

    .toggle {
      cursor: pointer;
      font-size: 1.5rem;
    }
    
    nav .icon-cross {
      position: relative;
      right: 0;
      display: black;
      animation: animacao 0.5s linear;
    }

    @keyframes animacao {
      from {
        transform: translatey(-40px);
      }
      to {
        transform: translatey(0);
      }
    }
    
    nav.show div.icon-cross {
      opacity: 1;
      top: 0;
      display: block;
    }
    
    .icon-menu {
      display: block;
      animation: animacao 0.5s linear;
    }

    nav.show {
      
      .icon-menu {
        display: none;
      }
    }
    
    nav.show .menu {
      background: $black-color;
      border-radius: 8px 0 0 8px;
      display: block;
      height: 500px;
      padding: 60px 0;
      position: absolute;
      right: 0;
      top: 60px;
      width: 50%;
    }
    
    nav.show .menu ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    
    nav.show ul.grid {
      gap: 4rem;
     
      
    }

    .Mobile {
      &-menuMobile {
        
        display: block;
      }
    }
  }
}