.Satisfied {
  position: relative;
  top: 1000px;

  &-content {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &-title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: $black-color;
    margin-bottom: 16px;
  }

  &-text {
    text-align: center;
    width: 473px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 150%;
    color: $black-light-color;
  }

  &-cards {
    margin-top: 51px;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-around;
    align-items: center;
  }

  &-card {
    background: red;
    width: 257px;
    height: 216px;
    box-shadow: 0px 8px 10px rgba(164, 164, 164, 0.07);
    border-radius: 8px; 
    background: $white-color;
    text-align: center;
    padding: 32px 24px;
  }
  &-card_1 {
    background: red;
    width: 308px;
    height: 296px;
    box-shadow: 0px 8px 10px rgba(164, 164, 164, 0.07);
    border-radius: 8px; 
    background: $white-color;
    text-align: center;
    padding: 32px 24px;
  }
  
  &-face {
    margin-bottom: 24px;
  }

  &-text_1 {
    font-size: 20px;
    font-weight: 500;
    color: $black-color;
    margin-bottom: 6px;
    text-transform: capitalize;
  }
  &-text_3 {
    font-size: 24px;
    font-weight: 600;
    color: $black-color;
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  &-star {
    margin-bottom: 6px;
  }

  &-text_2 {
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: $black-light-color;
  }

  &-face_1 {
    margin-bottom: 24px;
    
    // img {
    //   width: 35%;
    // }
  }

  &-text_4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    text-align: center;
    color: $black-light-color;
    margin-top: 8px;
  }

  @media (max-width: 1040px) {
    &-card {
      width: 237px;
      height: 216px;
    }
    &-card_1 {
      width: 280px;
      height: 296px;
    }
  }

  @media (max-width: 975px) {
    &-card {
      width: 217px;
      height: 216px;
    }
    &-card_1 {
      width: 250px;
      height: 296px;
    }
  }

  @media (max-width: 900px) {
    &-text_3 {
      font-size: 20px;
      font-weight: 500;
    }

    &-card {
      width: 200px;
      height: 226px;
    }
    &-card_1 {
      width: 230px;
      height: 296px;
    }
  }

  @media (max-width: 800px) {

    &-cards {
      // display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
  }

  @media (max-width: 600px) {
    
    &-title {
      max-width: 100%;
      font-size: 28px;
    }

    &-text {
      max-width: 100%;
      font-size: 16px;
    }
    
  }
}