.Best {
  position: relative;
  top: 750px;

  &-cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }

  &-card {
    background: $white-color;
    width: 230px;
    height: 300px;
    padding: 10px;
    top: 0px;
  }

  &-title {
    font-weight: 600;
    font-size: 36px;
    color: $black-color;
    margin-bottom: 28px;
  }

  &-text {
    font-weight: 600;
    font-size: 20px;
    color: $black-color;
    margin-top: 15px;
  }

  &-text2 {
    font-size: 16px;
    color: $blue-color;
    
  }

  &-text3 {
    background: rgba(252, 50, 111, 0.2);
    padding: 3px;
    font-size: 12px;
    color: #FC326F;
  }

  &-text4 {
    font-size: 14px;
    color: $gray-color;
  }

  &-texts{
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-texts1 {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  @media (max-width: 1000px) {

  }
  @media (max-width: 550px) {
    &-title {
      font-size: 28px;
      text-align: center;
    }

    &-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 0 auto;
      width: 250px;
    }

    

    &-text {
      font-size: 18px;
    }

    &-text2 {
      font-size: 14px;
    }

    &-text3 {
      font-size: 10px;
    }

    &-text4 {
      font-size: 12px;
    }
  }
}