$blue-color: #3B44F6;
$blue-light-color: #767CF9;
$ice-color: #D8DAFD;
$green-light: #00D7FF;
$green-light-color: #66E7FF;
$green1-light-color: #CCF7FF;
$gray-light-color: #A0A0A0;
$gray-color: #525252;
$black-color: #181818;
$black-light-color: #323232;
$white-color: #ffffff;
$white-light-color: #F5F4F9;

body {
  font-family: 'Lexend', sans-serif;
}

.Container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 22px;
}
