@import './components/Reset.scss';
@import './components/Variables.scss';

@import './components/Header.scss';
@import './components/MenuMobile.scss';
@import './components/Hero.scss';
@import './components/Supply.scss';
@import './components/Games.scss';
@import './components/Swiper.scss';
@import './components/Popular.scss';
@import './components/Coming.scss';
@import './components/Satisfied.scss';