@import './components/Reset.scss';
@import './components/Variables.scss';

@import './components/Header.scss';
@import './components/MenuMobile.scss';
@import './components/Hero.scss';
@import './components/Supply.scss';